doctype html
html(lang="en")
    include ../partials/_head.pug
    body 
        h1(style="text-align:center;") REST MySQL CRUD with PUG
        p(style="text-align:center;")
            a(href="/") HOME
        hr
        div(class="container mt-5")
            div(class="row")
                div(class="col-md-7")
                    table(class="table table-bordered table-hover")
                        thead
                        tr
                            td ID
                            td USERNAME
                            td PASSWORD
                            td EMAIL
                            td FULLNAME
                            td ROLE
                            td(colspan=2 style="text-align:center;")
                                a(href="crud/create" class="btn btn-info") CREATE
                        tbody
                        for row, index in data
                            tr
                                td #{row.id}
                                td #{row.username}
                                td #{row.password}
                                td #{row.email}
                                td #{row.fullname}
                                td #{row.role}
                                td
                                    a(href=`/crud/${row.id}/edit` class="btn btn-info") Edit
                                td

                                    form(action=`/crud/${row.id}?_method=DELETE`, method="post")
                                        input(type="submit", value="DELETE" class="btn btn-danger")
    include ../partials/_footer.pug





